body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* navbar */

#nav-bar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  font-family: 'Roboto';
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgb(11, 236, 150);
  margin-right: 2rem;
  font-size: 2rem;
}

.nav-link{
  font-family: 'Roboto';
  font-size: 2rem;
}


/* home */

.landing-page{
  height: 100vh;
}